.main-header {
    padding: 40px 0;
    background-color: palette('merlinblue');

    .logo {
        height: 60px;
    }

    .branding {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        color: white;
        font-size: 2.5em;
    }
}
